{% extends 'seguranca/base.html' %}
{% load static %}
{% block content %}
<head>
  <script src="typescript/login.ts"></script>
</head>
<body>
  <h2>Página de Login</h2>
  <form method="post">
    {% csrf_token %}
    <table class="formulario">
      <tbody>
        <tr>
          <td> Nome: </td>
          <td><input type="text" name="user_nickname" id="user_nickname"></td>
        </tr>
        <tr>
          <td> Senha: </td>
          <td><input type="password" name="user_password" id="user_password"></td>
        </tr>
        <tr>
          <td><button id="btnLogin">Login</button></td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock %}